﻿@model App.Web.Areas.Admin.Models.AmountPerEntityViewModel

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
        <div class="panel panel-default">
            <div class="panel-body">
                <a href="~/admin/article"><span class="dataviz-number dataviz-number-articles">@Model.AmountArticles <small>articles</small><i class="fa fa-bars"></i></span></a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
        <div class="panel panel-default">
            <div class="panel-body">
                <a href="~/admin/category"><span class="dataviz-number dataviz-number-categories">@Model.AmountCategories <small>categories</small><i class="fa fa-dedent"></i></span></a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
        <div class="panel panel-default">
            <div class="panel-body">
                <a href="~/admin/comment"><span class="dataviz-number dataviz-number-comments">@Model.AmountComments <small>bids</small><i class="fa fa-comments"></i></span></a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
        <div class="panel panel-default">
            <div class="panel-body">
                <a href="~/admin/user"><span class="dataviz-number dataviz-number-users">@Model.AmountUsers <small>users</small><i class="fa fa-group"></i></span></a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
        <div class="panel panel-default">
            <div class="panel-body">
                <a href="~/admin/role"><span class="dataviz-number dataviz-number-roles">@Model.AmountRoles <small>roles</small><i class="fa fa-group"></i></span></a>
            </div>
        </div>
    </div>
</div>