﻿<!DOCTYPE html>
<html dir="ltr" lang="nl">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1">
        <title>@ViewBag.Title | Retail - second hand</title>
        <meta name="description" content="@ViewBag.Description">
        <meta name="keywords" content="@ViewBag.Keywords">
        <meta name="authors" content="Arteveldehogeschool | Bachelor in de grafische en digitale media">
        <meta name="copyright" content="Copyright 2002-13 Arteveldehogeschool. All rights reserved.">
        @*  HUMANS.TXT *@
        @*  FAVICONS AND TOCH ICONS *@
        <meta name="viewport" content="width=device-width">
        @*  BOOTSTRAP *@
        @Styles.Render("~/Content/bootstrap/base")
        @Styles.Render("~/Content/bootstrap/theme")
        @* JQUERY UI CSSS *@
        @Styles.Render("~/Content/themes/base/css")
        @*  BACKOFFICE PAGE CSS BUNDLE *@
        @Styles.Render("~/Content/admin/accountcss")        
        @* EXTRA CSS PER PAGE (VIEW) *@
        @RenderSection("head", required: false)
        @*  MODERNIZR *@
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>        
        @* CONTENT (VIEW) *@
        <div class="container" id="main-container">
            <div class="row">
                <main class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="main">
                    @* REAL CONTENT VIEW *@
                    @RenderBody()
                </main>
            </div>
        </div>
        @* JQUERY *@
        @Scripts.Render("~/bundles/jquery")
        @* JQUERY UI *@
        @Scripts.Render("~/bundles/jqueryui")
        @* BOOTSTRAP *@
        @Scripts.Render("~/bundles/bootstrap")
        @* BACKOFFICE PAGE JS BUNDLE *@
        @Scripts.Render("~/bundles/admin/account")
        @* EXTRA JS PER PAGE (VIEW) *@
        @RenderSection("scripts", required: false)
    </body>
</html>