﻿<ul class="nav nav-pills navbar-right" id="courtesy-navigation">
    <li class="dropdown red">
        <a href="#" data-toggle="dropdown">
            <span class="user-name">User</span>
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="~/admin/user/profile/1" title=""><i class="icon-user"></i>Profile</a></li>
            <li class="divider"></li>
            <li>
               <a href="~/Account/Logout">Log out</a>
            </li>
        </ul>
    </li>
</ul>