﻿<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#main-navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="~/Admin" title="Back to the dashboard">Retail-second hand</a>
    </div>
    <div class="collapse navbar-collapse" id="main-navigation">
            <ul class="nav navbar-nav">
                <li ><a href="~/admin/">Dashboard</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Article <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="list-group-item"><a href="~/admin/article">See all Articles</a></li>
                        <li class="list-group-item"><a href="~/admin/article/create">Add a new Article</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="list-group-item"><a href="~/admin/category">See all Categories</a></li>
                        <li class="list-group-item"><a href="~/admin/category/create">Add a new Categorie</a></li>
                    </ul>
                </li>
                <li><a href="~/admin/comment" title=""><i class="icon-comments"></i>Bids</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Users <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="list-group-item"><a href="~/admin/user">See all Users</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Roles <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="list-group-item"><a href="~/admin/role">See all Roles</a></li>
                        <li class="list-group-item"><a href="~/admin/role/create">Add a new Role</a></li>
                    </ul>
                </li>
                
            </ul>
        @{Html.RenderPartial("_CourtesyPartial");}
        </div>
    
</nav>
