﻿<!DOCTYPE html>
<html dir="ltr" lang="nl">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1">
        <title>@ViewBag.Title | Retail</title>
        <meta name="description" content="@ViewBag.Description">
        <meta name="keywords" content="@ViewBag.Keywords">
        <meta name="authors" content="Retail | Web Design & Development III">
        <meta name="copyright" content="Copyright 2002-13 Arteveldehogeschool. All rights reserved.">
        @*  HUMANS.TXT *@
        @*  FAVICONS AND TOCH ICONS *@
        <meta name="viewport" content="width=device-width">
        @*  BOOTSTRAP *@
        @Styles.Render("~/Content/bootstrap/base")
        @Styles.Render("~/Content/bootstrap/theme")
        @* JQUERY UI CSSS *@
        @Styles.Render("~/Content/themes/base/css")
        @*  BACKOFFICE PAGE CSS BUNDLE *@
        @Styles.Render("~/Content/admin/page.css")        
        @* EXTRA CSS PER PAGE (VIEW) *@
        @RenderSection("head", required: false)
        @*  MODERNIZR *@
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        @if(Request.IsAuthenticated){
        @* CALL PARTIAL VIEW HeaderPartial *@
        @Html.Partial("_HeaderPartial")
        @* CONTENT (VIEW) *@
        <div class="container" id="main-container">
            <div class="row">
                <main class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="main">                    
                    <div class="row">
                        <div class="page-header">
                            <h1>@ViewBag.Title <small>@ViewBag.SubTitle</small></h1>
                        </div>
                    </div>
                     
                    @* REAL CONTENT VIEW *@
                    @RenderBody()
                </main>
            </div>
        </div>  
        <!-- Modal -->
        <div class="modal fade" id="confirm-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Confirmation</h4>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary btn-confirm">Delete</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        @* JQUERY *@
        @Scripts.Render("~/bundles/jquery")
        @* JQUERY UI *@
        @Scripts.Render("~/bundles/jqueryui")
        @* BOOTSTRAP *@
        @Scripts.Render("~/bundles/bootstrap")
        @* BACKOFFICE PAGE JS BUNDLE *@
        @Scripts.Render("~/bundles/admin/page")
        @* EXTRA JS PER PAGE (VIEW) *@
        @RenderSection("scripts", required: false)
        }
        else{
            
            <h2>Log je in als administrator</h2>   
            <a href="~//Account/Login" />
        }
    </body>
</html>