﻿@{
    
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
        <section class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-md-offset2 col-lg-offset-3">
            <h2>Hi again!</h2>
            @if(Request.IsAuthenticated){
                <strong>Hi there Mister @Html.Encode(User.Identity.Name), </strong><br /><a class="btn btn-primary" href="~/Admin/Home/Index">Go to the Retail-backoffice!</a>
                <p></p>
                <p>Or <a class="btn btn-danger" href="~/Account/Logout">Sign Out!</a></p>
            }else{
                <h3>Log je in als administrator</h3>   
                <a class="btn btn-success" href="~/Account/Login">Sign in!</a>
            }
        </section>

