﻿@model App.Web.Areas.Admin.Models.CategoryViewModel

@{
    ViewBag.Title = "Category Management";
    ViewBag.SubTitle = "Create";
    ViewBag.Description = "With This view you can create a Category.";
    ViewBag.Keywords = "RWD";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}
<div class="row">
    <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Create a new Category
            </div>
            <div class="panel-body">
                @using (Html.BeginForm()) {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <fieldset>
                        <legend>Category</legend>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Category.Name)
                            @Html.TextBoxFor(model =>  model.Category.Name, new {@class="form-control" })
                            @Html.ValidationMessageFor(model =>  model.Category.Name)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Category.Description)
                            @Html.TextAreaFor(model => model.Category.Description, new {@class="form-control", rows=4, cols=100  })
                            @Html.ValidationMessageFor(model => model.Category.Description)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Category.ParentCategory)
                            @Html.DropDownListFor(model => model.Category.ParentId, new SelectList(Model.Categories, "Id", "Name"), "-- Select Parent Category --", new {@class="form-control" })
                        </div>                     
                        <input type="submit" value="Create" class="btn btn-default" />
                    </fieldset>
                }
                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>
            </div>
        </div>
    </section>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/ckeditor")
}
