﻿@model ICollection<App.Models.Category>

@{
    ViewBag.Title = "Category Management";
    ViewBag.SubTitle = "Overview";
    ViewBag.Description = "In this view you can manage categories (like: edit, delete and publish). You can also create a new article!";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}

<div class="row">
    @if (Model.Count > 0)
    {
        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="articles-list">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Created</th>
                            <th>Entities</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in Model)
                        {
                            <tr data-id="category-@category.Id" data-title="@category.Name">
                                <td>@category.Name</td>
                                <td>@category.Description<br />@if (category.ParentCategory != null)
                                    {
                                        <text><small>Parent: @category.ParentCategory.Name</small></text>
                                    }</td>
                                <td>@category.CreateDate</td>
                                <td><span class="badge">@category.Entities.Count</span></td>
                                <td>
                                    <a href="@Url.Action("Delete", new {id=@category.Id})" title="Delete category: @category.Name" class="confirm-link" data-cat="category" data-id=@category.Id data-action="delete"><i class="fa fa-times-circle"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </section>        
    }
    else
    {
        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            No Articles in Database!
        </section>
    }
</div>
