﻿@model PagedList.IPagedList<App.Models.EntityComment>
@using PagedList.Mvc;

<div class="panel panel-default">
    <div class="pandel-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Sender</th>
                        <th>Receiver</th>
                        <th>Bid</th>
                        <th>Bid placed</th>
                        <th>Reactions on bid</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var comment in Model)
                    {
                        <tr data-id="comment-@comment.Id" data-title="@comment.Id" data-update-target="#comments-list" data-update-href="/Admin/Comment/PVCommentsList" >
                            <td>
                                @comment.User.UserName
                            </td>
                            <td>
                                @if (comment.ParentComment != null)
                                {
                                    <text>@comment.ParentComment.User.UserName</text>
                                }else{
                                    <text>Bid on article: @comment.EntityId</text>   
                                }
                            </td>
                            <td>
                                @Html.Raw(@comment.Body + " euro")
                            </td>
                            <td>@comment.CreatedDate</td>
                            <td><span class="badge">@comment.ChildComments.Count</span></td>
                            <td>
                                @if (comment.LockedDate != null)
                                {
                                    <a href="@Url.Action("UnLock", new {id=@comment.Id})" title="Unlock comment: @comment.Id" class="confirm-link" data-cat="comment" data-id="@comment.Id" data-action="unlock"><i class="fa fa-unlock"></i></a>
                                }
                                else
                                {
                                    <a href="@Url.Action("Lock", new { id = @comment.Id })" title="Lock comment: @comment.Id" class="confirm-link" data-cat="comment" data-id="@comment.Id" data-action="lock"><i class="fa fa-lock"></i></a>
                                }
                                @if (comment.DeletedDate != null)
                                {
                                    <a href="@Url.Action("VirtualUnDelete", new {id=@comment.Id})" title="Undelete comment: @comment.Id" class="confirm-link" data-cat="comment" data-id="@comment.Id" data-action="virtualundelete"><i class="fa fa-eye"></i></a>
                                }
                                else
                                {
                                    <a href="@Url.Action("VirtualDelete", new { id = @comment.Id })" title="Virtual delete comment: @comment.Id" class="confirm-link" data-cat="comment" data-id="@comment.Id" data-action="virtualdelete"><i class="fa fa-eye-slash"></i></a>
                                }
                                <a href="@Url.Action("Delete", new {id=@comment.Id})" title="Delete comment: @comment.Id" class="confirm-link" data-cat="comment" data-id="@comment.Id" data-action="delete"><i class="fa fa-eraser"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>            
        </div>
        <div class="panel-footer">
            @Html.PagedListPager(Model, page => Url.Action("PVCommentsList", new {page = page, filter = ViewBag.Filter}), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions(){HttpMethod="GET", UpdateTargetId="comments-list", OnComplete="PagedOnComplete"}))
        </div>
    </div>
</div>
<script>
    function PagedOnComplete(ev) {
        setupConfirmDialog();
    }
</script>