﻿@{
    ViewBag.Title = "Bid Management";
    ViewBag.SubTitle = "Overview";
    ViewBag.Description = "In this view you can manage the bids made by users.";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="comments-list">
        @{Html.RenderAction("PVCommentsList", "Comment", new { area = "Admin" });}
    </div>
</div>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval");
}
