﻿/*
     Body
     */
body{
    background:#eaeaea;
}

/*
    Header
    */
#header-container.navbar {
    margin-bottom:0 !important;
    border-radius:0 !important;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffffff), to(#ffffff));
    background-image: -webkit-linear-gradient(top, #ffffff, 0%, #ffffff, 100%);
    background-image: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
    background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
    background-repeat: repeat-x;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
    -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
    border:none;
}

/*
    Navigation
    */

.navbar-brand {
    color:#333 !important;
    font-family: 'Inconsolata', sans-serif;
    font-size:2.2em;
    font-weight:900;
}
.navbar-nav > a{
    color:#777;
}
.navbar-nav .active > a{
    background:#1ABC9C !important;
    color:#fff !important;
}
.navbar-nav > li > a:hover,
.navbar-nav > li.open > a{
    background:#16A085 !important;
    color:#fff !important;
}

/*
    COURTESY NAVIGATION
    */
#courtesy-navigation > li > a {
    height:50px;
    line-height:50px;
    padding:0 15px;
}
.dropdown > a > img {
    border: 2px solid #2C3E50;
    margin-right: 5px;
    width: 32px;
    height: 32px;
}
.dropdown > a:hover > img {
    border: 2px solid #34495E;
}
@media (max-width:479px) {
    .user-name {
        display: none;
    }
}
@media (max-width:767px) {
    #courtesy-navigation {
        background:#2C3E50;
    }
    #courtesy-navigation > ul > li {
        border-right:1px solid #232325;
    }     
    .nav-pills > li + li {
        border-left:none;
        margin-left:0;
    }
    .nav-pills > li {
        border-right:2px solid #232325;
    }
}
/*
    Main Container
*/
#main-container{
    padding-top:15px;
    padding-bottom:15px;
}
/*
    Footer
    */
#footer-wrapper{
    background:#333;
    color: #ababab;
}
#footer-pre section h1{
    color:#fff;
    font-size:1.8em;
    text-shadow:0 2px 2px #111;
}
#footer-pre address strong{
    color:#dcdcdc;
}
#footer{
    background:#1f1f1f;
    padding:10px 0;  
    margin:15px 0 15px;
    font-size: 12px;
}
#courtesy-footer{
    list-style:none;
    margin:0;
    padding:0;
}
#courtesy-footer li{
    float:left;
}
#courtesy-footer li::after{
    content: "|";
    margin:0 10px;
}
#courtesy-footer li:last-of-type::after{
    content: "";
    margin:0;
}
#courtesy-footer li a{
    color:#ababab;
    font-weight:900;
    text-decoration:none;
}
#courtesy-footer li a:hover{
    color:#1ABC9C;
}
ul.social-icons{
    list-style:none;
    margin:0;
    padding:0;
}
ul.social-icons li{
    float:left;
    margin-right:5px;
}
a.social-icon {
    background: url('images/social-icons.png');
    display: block;
    width: 46px;
    height: 46px;
}
a.facebook {
    background-position: 0px 0px;
}
a.facebook:hover {
    background-position: 0 -47px;
}
a.twitter {
    background-position: -52px 0px;
}
a.twitter:hover {
    background-position: -52px -47px;
}
a.rss {
    background-position: -156px 0px;
}
a.rss:hover {
    background-position: -156px -47px;
}
.footer-logo{
    opacity:0.16;
}
@media (max-width:767px) {
    #footer{
        text-align:center;
        margin:0 0 15px;
    }
    #courtesy-footer{
        float:none !important;
        margin:0 auto;
        width:auto;
        display:inline-block;        
    }
}

/*
    Articles
    */
#footer-pre .articles-list-small{
    list-style:none;
    margin:0;
    padding:0;
}
#footer-pre .articles-list-small li{
    border-bottom:1px dashed #504f4f;
    padding:10px 0;
}
#footer-pre .articles-list-small li:first-of-type{
    padding:0 0 10px;
}
#footer-pre .articles-list-small li a{
    color:#dcdcdc;
    text-decoration:none;
}
#footer-pre .articles-list-small li a:hover{
    color:#1ABC9C;
}
.article-detail-large .description{
    color:#858988;
}

/*
    Detail of an article
    */
.article-detail-large header h1{
    margin-top:0;
}
.article-detail-large header .categories{
    list-style:none;
    margin:0;
    padding:0;  
    display:inline-block;  
    width:auto;
}
.article-detail-large header span{
    display:inline;
}
.article-detail-large header span::after{
    content:"|";
    margin-left:5px;
}
.article-detail-large header span:last-of-type::after{
    content:"";
}

/*
    Search
    */
#search{
    margin-bottom:20px;
}
#search .form-control{
    padding:8px 15px;
    height:auto;
}
#search .input-group-btn button{
    padding:8px 15px;
}
/*
    FORMS
    */
.field-validation-error {
    display:block;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 0;
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}
fieldset legend {
    display:none;
}
/*
    COMMENTS
    */
.media-heading {
    color:#1abc9c;
    font-weight:900;
}
.media-post-inreplyto {
    color:#777;
    font-weight:500;
}