﻿@model App.Web.Models.User
@{
    
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<section class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-md-offset2 col-lg-offset-3">
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Login failed. Check your login details.");
    <div>
        <fieldset>
            <legend>Login</legend>
            <div class="editor-label">
                @Html.LabelFor(u => u.UserName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(u => u.UserName, new {@class="form-control" })
                @Html.ValidationMessageFor(u => u.UserName)
            </div>
            <div class="editor-label">
                @Html.LabelFor(u => u.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(u => u.Password, new {@class="form-control" })
                @Html.ValidationMessageFor(u => u.Password)
            </div>
            <div class="editor-label">
                @Html.CheckBoxFor(u => u.RememberMe)
                @Html.LabelFor(u => u.RememberMe)
            </div>
            <input type="submit" class="btn btn-primary" value="Log in" />
        </fieldset>
    </div>
}
</section>