﻿@{
    
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
        <section class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-md-offset2 col-lg-offset-3">
            <h2>Bye again!</h2>
            
        </section>

