﻿@model ICollection<App.Models.Role>

@{
    ViewBag.Title = "Role Management";
    ViewBag.SubTitle = "Overview";
    ViewBag.Description = "In this view you can manage roles (like: edit, delete and publish). You can also create a new role!";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}

<div class="row">
    @if (Model.Count > 0)
    {
        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="roles-list">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Created</th>
                            <th>Users</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var role in Model)
                        {
                            <tr data-id="role-@role.Id" data-title="@role.Name">
                                <td>@role.Name</td>
                                <td>@role.Description</td>
                                <td>@role.CreateDate</td>
                                <td><span class="badge">@role.Users.Count</span></td>
                                <td>
                                    <a href="@Url.Action("Edit", new {id=@role.Id})" title="Edit role: @role.Name"><i class="fa fa-edit"></i></a>
                                    <a href="@Url.Action("Delete", new {id=@role.Id})" title="Delete role: @role.Name" class="confirm-link" data-cat="user" data-id=@role.Id data-action="delete"><i class="fa fa-times-circle"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </section>        
    }
    else
    {
        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            No Roles in Database!
        </section>
    }
</div>
