﻿@model App.Web.Areas.Admin.Models.ArticleViewModel

@{
    ViewBag.Title = "Article Management";
    ViewBag.SubTitle = "Create";
    ViewBag.Description = "With This view you can create an Article.";
    ViewBag.Keywords = "RWD";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}
<div class="row">
    <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Create a new Article
            </div>
            <div class="panel-body">
                @using (Html.BeginForm()) {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <fieldset>
                        <legend>Article</legend>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Article.Title)
                            @Html.TextBoxFor(model => model.Article.Title, new {@class="form-control" })
                            @Html.ValidationMessageFor(model => model.Article.Title)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Article.Description)
                            @Html.TextAreaFor(model => model.Article.Description, new {@class="form-control", rows=4, cols=100  })
                            @Html.ValidationMessageFor(model => model.Article.Description)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Article.Body)
                            @Html.TextAreaFor(model => model.Article.Body, new {@class="form-control ckeditor", rows=18, cols=100 })
                            @Html.ValidationMessageFor(model => model.Article.Body)
                        </div>            
                        <div class="form-group">
                            @Html.LabelFor(model => model.Article.Price)
                            @Html.TextAreaFor(model => model.Article.Price, new {@class="form-control", rows=1, cols=100  })
                            @Html.ValidationMessageFor(model => model.Article.Price)
                        </div>             
                        <div class="form-group">
                            @Html.LabelFor(model => model.SelectedCategoryIds)
                            @Html.ListBoxFor(model => model.SelectedCategoryIds,Model.Categories, new{multiple="multiple", @class="chzn-select form-control",placeholder="Choose one or more categories..."})
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Article.UserId)
                            @Html.EditorFor(model => model.Article.UserId)
                            @Html.ValidationMessageFor(model => model.Article.UserId)
                        </div>
                        <input type="submit" value="Create" class="btn btn-default" />
                    </fieldset>
                }
                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>
            </div>
        </div>
    </section>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/ckeditor")
    @Scripts.Render("~/bundles/chosen")
    <script>(function () { $('.chzn-select').chosen(); })();</script>
}
