﻿@model ICollection<App.Models.Article>

@{
    ViewBag.Title = "Article Management";
    ViewBag.SubTitle = "Overview";
    ViewBag.Description = "In this view you can manage articles (like: edit, delete and publish). You can also create a new article!";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}
<div class="row">
    @if (Model.Count > 0)
    {
        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="articles-list">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Body</th>
                            <th>Created</th>
                            <th>Bids</th>
                            <th>Price</th>
                            <th>Categories</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var article in Model)
                        {
                            <tr data-id="article-@article.Id" data-title="@article.Title">
                                <td>@article.Title</td>
                                <td>@article.Description</td>
                                <td>@article.Body</td>
                                <td>@article.CreateDate</td>
                                <td><span class="badge">@article.Comments.Count</span></td>
                                <td>€@article.Price</td>
                                <td>Available in <span class="badge">@article.Categories.Count</span> categories</td>
                                <td>
                                    <a href="@Url.Action("Edit", new {id=@article.Id})" title="Edit user: @article.Title"><i class="fa fa-edit"></i></a>
                                    <a href="@Url.Action("Delete", new {id=@article.Id})" title="Delete user: @article.Title" class="confirm-link" data-cat="user" data-id=@article.Id data-action="delete"><i class="fa fa-times-circle"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </section>        
    }
    else
    {
        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            No Articles in Database!
        </section>
    }
</div>
