﻿@model App.Web.Areas.Admin.Models.UserEditViewModel

@{
    ViewBag.Title = "User Management";
    ViewBag.SubTitle = "Edit";
    ViewBag.Description = "With This view you can edit a Role.";
    ViewBag.Keywords = "RWD";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}
<div class="row">
    <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Edit the user: @Model.User.UserName
            </div>
            <div class="panel-body">
                @using (Html.BeginForm()) {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <fieldset>
                        <legend>Article</legend>
                        @Html.HiddenFor(model => model.User.Id)
                        <div class="form-group">
                            @Html.LabelFor(model => model.User.UserName)
                            @Html.TextBoxFor(model => model.User.UserName, new {@class="form-control" })
                            @Html.ValidationMessageFor(model => model.User.UserName)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.User.Email)
                            @Html.TextAreaFor(model => model.User.Email, new {@class="form-control"})
                            @Html.ValidationMessageFor(model => model.User.Email)
                        </div>     
                        <div class="form-group">
                            @Html.LabelFor(model => model.User.Person.FirstName)
                            @Html.TextAreaFor(model => model.User.Person.FirstName, new {@class="form-control"})
                            @Html.ValidationMessageFor(model => model.User.Person.FirstName)
                        </div>      
                        <div class="form-group">
                            @Html.LabelFor(model => model.User.Person.SurName)
                            @Html.TextAreaFor(model => model.User.Person.SurName, new {@class="form-control"})
                            @Html.ValidationMessageFor(model => model.User.Person.SurName)
                        </div>         
                        
                        <div class="form-group">
                            @Html.LabelFor(model => model.SelectedRoleIds)
                            @Html.ListBoxFor(model => model.SelectedRoleIds,Model.Roles, new{multiple="multiple", @class="chzn-select form-control",placeholder="Choose one or more roles..."})
                        
                        </div>
                        <input type="submit" value="Save" class="btn btn-default" />
                    </fieldset>
                }
                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>
            </div>
        </div>
    </section>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/ckeditor")
}

