﻿@model ICollection<App.Models.User>

@{
    ViewBag.Title = "User Management";
    ViewBag.SubTitle = "Overview";
    ViewBag.Description = "In this view you can manage users (like: edit, delete and publish). You can also create a new article!";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}

<div class="row">
    @if (Model.Count > 0)
    {
        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="articles-list">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Full Name</th>
                            <th>Created on</th>
                            <th>Type</th>
                            <th>Roles</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr data-id="user-@user.Id" data-title="@user.UserName">
                                <td>@user.UserName</td>
                                <td>@user.Email</td>
                                <td>@user.Person.FirstName @user.Person.SurName</td>
                                <td>@user.CreatedDate</td>
                                <td>@user.GetType().Name.Split('_')[0]</td>
                                <td><span class="badge">@user.Roles.Count</span></td>
                                <td>
                                    <a href="@Url.Action("Edit", new {id=@user.Id})" title="Edit user: @user.UserName"><i class="fa fa-edit"></i></a>
                                    <a href="@Url.Action("Delete", new {id=@user.Id})" title="Delete user: @user.UserName" class="confirm-link" data-cat="user" data-id=@user.Id data-action="delete"><i class="fa fa-times-circle"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </section>        
    }
    else
    {
        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            No Users in Database!
        </section>
    }
</div>
