﻿@functions{
    public static System.Web.Mvc.HtmlHelper<object> Html = ((System.Web.Mvc.WebViewPage)WebPageContext.Current.Page).Html;
    public static System.Web.Mvc.UrlHelper Url = ((System.Web.Mvc.WebViewPage)WebPageContext.Current.Page).Url;
}
@helper BlogCommentViewBootstrap3(ICollection<App.Models.EntityComment> comments){

    if(comments != null && comments.Count > 0){
        foreach(var comment in comments){
            <div class="media clearfix">
                <a class="pull-left" href="#">
                    <img class="media-object" src="@comment.User.AvatarURL" alt="Ikke" width="64" />
                </a>
                @if(comment.ChildComments != null)
                {
                    <div class="media-body">
                        <h4 class="media-heading">@comment.User.UserName
                            @if(comment.ParentComment != null)
                            {
                                <span class="media-post-inreplyto"><i class="fa fa-mail-forward"></i>@comment.ParentComment.User.UserName</span>
                            }
                        </h4>
                        @Html.Raw(@comment.Body)
                        @BlogCommentViewBootstrap3(comment.ChildComments)
                    </div>
                }
                else
                {
                    <div class="media-body">
                        <h4 class="media-heading">@comment.User.UserName</h4>
                        @Html.Raw(@comment.Body)
                    </div>
                }
            </div>
        }
    }
}