﻿@import url(http://fonts.googleapis.com/css?family=Concert+One|Merriweather+Sans|Inconsolata);
body {
    background:#f5f5f5 url('../images/bkgnd.gif');
}
.container {
}
#main {
}
.logo {
    color:#333 !important;
    font-family: 'Inconsolata', sans-serif;
    font-size:28px;
}
.field-validation-error {
    display:block;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 0;
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}
.validation-summary-errors ul {
    list-style:none;
    margin:0;
    padding:0;
}
fieldset legend {
    display:none;
}