﻿@import url(http://fonts.googleapis.com/css?family=Roboto);
body {
    background:#2e2c30;
}
.container {
    max-width:100% !important;
}
.navbar-brand {
    color:#333 !important;
    font-family: 'Roboto', sans-serif;
    font-size:28px;
}

#main {
    position:relative;
    background:#f5f5f5;
    height:100%;
    min-height:100%;
}
.page-header {
    background: #ececec;    
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #ececec));
    background-image: -webkit-linear-gradient(top, #fafafa, #ececec);
    background-image: -moz-linear-gradient(top, #fafafa, #ececec);
    background-image: -o-linear-gradient(top, #fafafa, #ececec);
    background-image: linear-gradient(top, #fafafa, #ececec);
    background-size: 100%;
    -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.07);
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.07);
    border-bottom: 1px solid #ccc;
    position: relative;
    width: 100%;
    padding: 10px 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0 15px !important;
}
.dataviz-number {
    position:relative;
    display:block;
    font-size:1.4em;
}
.dataviz-number i {
    position:absolute;
    right:6px;
    top:0;
    opacity:0.6;
    color: #29a3d9;
}
.dataviz-number-articles {
    color:#333;
}
.dataviz-number-comments {
    color:#333;
}
.dataviz-number-categories {
    color:#333;
}
.dataviz-number-users {
    color:#333;
}
.dataviz-number small {
    color:#333;
}

/*
    COURTESY NAVIGATION
    */
#courtesy-navigation > li > a {
    height:52px;
    line-height:52px;
    padding:0 15px;
    border-radius:0;
    color:#333;
}
.nav-pills > li + li {
    border-left:2px solid transparent;
    margin-left:0;
}
.dropdown > a > img {
    border: 2px solid #2C3E50;
    margin-right: 5px;
    width: 32px;
    height: 32px;
}
.dropdown > a:hover > img {
    border: 2px solid #34495E;
}
.red > a .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.red > a:hover .caret,
.red.open > a:hover .caret {
    border-top-color: #34495E;
    border-bottom-color: #34495E;
}
@media (max-width:479px) {
    .user-name {
        display: none;
    }
}
@media (max-width:767px) {
    #courtesy-navigation {
        background:#2C3E50;
    }
    #courtesy-navigation > ul > li {
        border-right:1px solid #232325;
    }     
    .nav-pills > li + li {
        border-left:none;
        margin-left:0;
    }
    .nav-pills > li {
        border-right:2px solid #232325;
    }
}
.field-validation-error {
    display:block;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 0;
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}
fieldset legend {
    display:none;
}
textarea, textarea.ckeditor { resize:vertical !important; max-width:100%; }
/*
    EDITOR ICONS
    =======================================================================
*/
main i {
    font-size:1.42em;
}